<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

</head>
<body>

<!-- vladmaxi top bar -->
    <div class="vladmaxi-top">
        <a href="/" target="_blank">Главная</a>
        <span class="right">
        </span>
    <div class="clr"></div>
    </div>
<!--/ vladmaxi top bar -->

    <div id="login-form">
        <h1>Авторизация на сайте</h1>

        <fieldset>
            <form action="" method="get" >

                <input type="email" name="email" required value="Логин" onBlur="if(this.value=='')this.value='Логин'" onFocus="if(this.value=='Логин')this.value='' ">
                <input type="password" name="password" required value="Пароль" onBlur="if(this.value=='')this.value='Пароль'" onFocus="if(this.value=='Пароль')this.value='' ">
                <input type="submit" name="submit" value="ВОЙТИ">
            </form>
        </fieldset>

    </div>
</body>
</html>